# Ignore object files
*.o

# Ignore dependency files
*.d

# Ignore executable files
so_long

# Ignore system files
.DS_Store
Thumbs.db
CMakeCache.txt
README.md

# Ignore build directories
build/
bin/

# VS Code settings
.vscode/

# solong-error-tester directory
solong-error-tester/